*{
    font-family: 'Nunito', sans-serif;
}
body{
    width: 100%;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
.nav{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: 60px;
    background: #424A59;
    z-index: 99999999999999;
}
.nav .log{
    font-size: 2em;
    margin: auto;
    font-weight: 1000;
}
.nav .log a{
    color: white;
}
.nav .opcs{
    width: 100%;
    display: flex;
}
.nav .opcs a{
    width: 100%;
    height: 100%;
    margin: auto;
    color: white;
    font-size: 1.3em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .opcs a:hover{
    background: #D87970;
}
.nav .slide{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
    display: none;
}
.nav .slide img{
    max-width: 50px;
}
@media screen and (max-width: 765px){
    .nav{
        grid-template-columns: 70% 30%;
        grid-template-areas: 'log slide';
    }
    .nav .slide{
        grid-area: slide;
        display: grid;
        cursor: default;
        transition: .2s;
    }
    .nav .log{
        grid-area: log;
    }
    .nav .opcs{
        display: none;
        background: #0e477f;
    }
    .nav .opcs a{
        padding: 10px;
    }
    .nav .opcs a:hover{
        background: #1672cc;
    }
    #slide:checked ~ .slide{
        transform: rotateX(-150deg);
    }
    #slide:checked ~ .opcs{
        display: block;
        position: absolute;
        margin-top: 60px;
    }
}

.img-full{
    width: 100%;
    max-width: 100%;
}
.img-full img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.body .titulo{
    width: 100%;
    text-align: center;
    color: black;
    font-size: 2em;
    font-weight: 900;
}
.body .subtitulo{
    width: 100%;
    text-align: center;
    color: black;
    font-size: 1.7em;
    font-weight: 600;
}
.body .parrafo{
    padding: 10px;
}


.body .titulo-caja{
    width: 100%;
    margin: 0;
    text-align: center;
}
.body .titulo-caja label{
    color: black;
    font-size: 1.7em;
    background: white;
    padding: 5px;
    position: relative;
    bottom: -20px;
}
.body .titulo-caja .productos{
    border: 5px solid black;
    border-radius: 25px;
    padding: 50px 0px 50px 0px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.body .titulo-caja .productos .producto{
    width: 85%;
    max-height: 600px;
    margin: 20px auto 20px auto;
    transition: .2s;
}
.producto .img{
    width: 100%;
}
.producto .img img{
    width: 100%;
}
.producto .nombre{
    font-size: 1.3em;
    text-align: center;
    color: black;
}
.producto .price{
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    color: black;
}
.producto:hover{
    box-shadow: 0px 0px 10px #D8A588;
    cursor: pointer;
    transform: scale(1.01);
}
.parrafo{
    width: 80%;
    margin: auto;
    text-align: justify;
}

.footer{
    width: 100%;
    height: 70px;
    color: white;
    background: #424A59;
    margin-top: 50px;
    bottom: 0px;
}
.working{
    width: 100%;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    padding-top: 70px;
}
.working img{
    width: 70%;
    max-width: 200px;
    margin: auto;
}
.working label{
    font-size: 1.5em;
    font-weight: 600;
}
.form{
    width: 50%;
    max-width: 600px;
    margin: 100px auto;
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    background: #D87970;
    border-radius: 15px;
}
.form .titulo{
    font-size: 2em;
    font-weight: 600;
    color: white;
    width: 100%;
    padding:10px 0px 10px 0px;
    border-radius: 15px 15px 0px 0px;
    background: #424A59;
}
.form form{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
}
.form form label{
    font-size: 1.3em;
    padding-top: 10px;
    color: white;
    font-weight: 600;
}
.form form .input_text{
    width: 60%;
    margin: auto;
    background: #fff;
    border: 2px solid #424A59;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.1em;
    outline: none;
}
.form form .input_text:focus{
    background: #424A59;
    color: white;
}
.form form input[type=submit]{
    width: 80%;
    margin: 20px auto 20px auto;
    background: #424A59;
    color: white;
    font-size: 1.2em;
    border-radius: 5px;
    font-weight: 600;
    border: 2px solid #424A59;
    cursor: pointer;
    padding: 5px 0px 5px 0px;
}
.form form input[type=submit]:hover{
    background: #D87970;
}
.titulo{
    width: 100%;
    background: rgba(0,0,0,0.05);
    color: black;
    font-size: 2em;
    padding: 5px 0px 5px 0px;
    text-align: center;
}
.inventario .cuerpo{
    display: grid;
    grid-template-columns: 100%;
    margin: auto;
}
.inventario .cuerpo .top{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 35px;
    max-width: 900px;
}
.inventario .cuerpo .top form{
    width: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
}
.inventario .cuerpo .top form input{
    width: 100%;
    color: black;
    border-radius: 5px;
    font-size: 1.1em;
    padding: 3px;
    border: 1px solid #424A59;
}
.inventario .cuerpo .top .buton{
    width: 100%;
    border-radius: 5px;
    transition: .2s;
    cursor: pointer;
}
.inventario .cuerpo .top form input[type=submit]{
    border: 2px solid #D8A588;
    background: #D8A588;
}
.inventario .cuerpo .top .buton:hover{
    background: #fff;
}
.inventario .cuerpo .top .butongreen{
    background: #1672cc;
    border: 2px solid #1672cc;
    text-align: center;
    display: flex;
    font-size: 1.1em;
    justify-content: center;
    margin: auto;
    padding: 3px;
    align-items: center;
    border-radius: 5px;
    transition: .2s;
    cursor: pointer;
    color: white;
}
.inventario .cuerpo .top .butongreen:hover{
    background: #fff;
    color: black;
}
.inventario .cuerpo .cuerpo{
    width: 100%;
    max-width: 700px;
}
.inventario .cuerpo .cuerpo .ingresar{
    margin: auto;
    margin-top:20px;
    width: 100%;
}
.inventario .cuerpo .cuerpo .ingresar form{
    width: 100%;
}
.inventario .cuerpo .cuerpo .ingresar .titulo_{
    font-size: 1.7em;
    color: black;
}
.inventario .cuerpo .cuerpo .ingresar .cuerpo{
    width: 100%;
}
.ingresar .cuerpo{
    width: 80%;
    margin: auto;
    text-align: center;
}
.ingresar .cuerpo label{
    width: 100%;
    font-size: 1.5em;
    align-self: center;
}
.ingresar .cuerpo input,.ingresar .cuerpo select{
    width: 50%;
    margin: auto;
    padding: 5px;
    font-size: 1.3em;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #424A59;
}
.ingresar .cuerpo input[type=submit]{
    background: #424A59;
    border: 2px solid #424A59;
    border-radius: 7px;
    font-size: 1.3em;
    color: white;
    margin: 20px auto 20px auto;
    cursor: pointer;
    transition: .2s;
}
.ingresar .cuerpo input[type=submit]:hover{
    color: black;
    background: #fff;
    transform: scale(1.01);
}
.ingresar .cuerpo img{
    max-width: 100%;
    max-height: 200px;
    margin: 10px auto 10px auto;
}
.productos{
    width: 80%;
    margin: 50px auto auto auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}