<div class="img-full">
  <img [src]="'/assets/img1.png'" alt="">
</div>
<div class="body">
  <div class="titulo">
    MADISERVI
  </div>
  <div class="subtitulo">
    Misión
  </div>
  <div class="parrafo">
    Somos una empresa dedicada a la importanción y comercialización de repuestos electronicos y equipos de trabajo, proporcionando a nuestros clientes una amplia variedad de productos certificados en calidad e innovación tecnológica, mediante precios accesibles y servicio personalizado.
  </div>
  <div class="subtitulo">
    Visión
  </div>
  <div class="parrafo">
    Ser la empresa líder en el suministro de nuestros productos comercializados, capaces de cubrir las necesidades del mercado regional, brindando el mejor asesoramiento técnico con personal altamente capacitado y productos que se encuentren a la vaguardia de las diferentes tendencias musicales y tecnológicas.
  </div>
</div>