<div class="nav">
  <div class="log">
    <a [routerLink]="['/']">MADISERVI</a>
  </div>
  <input type="checkbox" name="" id="slide" style="display: none;">
  <div class="opcs">
    <a [routerLink]="['/']">Home</a>
    <a [routerLink]="['/nosotros']">Nosotros</a>
    <a [routerLink]="['/productos']">Productos</a>
    <div *ngIf="loged || adloged; then data else opcs"></div>
    <ng-template #data>
      <a [routerLink]="['/login']">{{ nombre }}</a>
      <a [routerLink]="" (click)="onLogout()">Logout</a>
    </ng-template>
    <ng-template #opcs>
      <a [routerLink]="['/registro']">Registro</a>
      <a [routerLink]="['/login']">Login</a>
    </ng-template>
  </div>
  <label class="slide" for="slide">
    <img [src]="'assets/arrow.png'" alt="">
  </label>
</div>
