<div class="body">
    <div class="titulo-caja">
        <label for="">Productos</label>
        <div class="productos">
                <div class="producto" *ngFor="let pro of productos">
                    <div class="img">
                        <img src="{{pro.imagen}}" alt="">
                    </div>
                    <div class="nombre">
                        {{pro.nombre}}
                    </div>
                    <div class="price">
                        {{pro.descripcion}}
                    </div>
                </div>
        </div>
    </div>
</div>