<div class="admin_c">
    <div *ngIf="adloged; then opcs else form"></div>
  <ng-template #form>
    <div class="form">
      <div class="titulo">
        Iniciar
      </div>
      <form (submit)="onSubmitAd()">
          <label for="username">Nombre de Usuario</label>
          <input class="input_text" type="text" [(ngModel)]="username" name="username" id="username" placeholder="Nombre de Usuario" autocomplete="off" required>
          <label for="contrasena">Contraseña</label>
          <input class="input_text" type="password" [(ngModel)]="contrasena" name="contrasena" id="contrasena" placeholder="Contraseña" autocomplete="off" required>
          <input type="submit" value="Ingresar" name="enviar" id="iniciar">
        </form>
    </div>
  </ng-template>
  <ng-template #opcs>
    <div class="pedidos">
      <div class="titulo">
        Pedidos
      </div>
      <app-working></app-working>
    </div>
    <div class="inventario">
      <div class="titulo">
        Inventario
      </div>
      <div class="cuerpo">
        <div class="top">
          <div class="searchbar">
            <form (submit)="onSubmit()">
              <input type="search" name="search" id="search" list="datalist" placeholder="Buscar">
              <datalist id="datalist">
                <option value="1"></option>
                <option value="2"></option>
                <option value="3"></option>
                <option value="4"></option>
                <option value="5"></option>
              </datalist>
              <input class="buton" type="submit" value="Buscar" name="enviar">
            </form>
          </div>
          <input type="submit" class="butongreen" (click)="addProd()" value="Ingresar Producto" name="">
        </div>
        <div class="cuerpo">
          <div *ngIf="invent; then inv else add"></div>
          <ng-template #inv>
            inv
          </ng-template>
          <ng-template #add>
            <div class="ingresar">
              <form (submit)="onSubmitAdd()">
                <div class="titulo_">
                  Ingresar Producto
                </div>
                <div class="cuerpo">
                  <label for="nombre">Nombre del Producto</label>
                  <input type="text" [(ngModel)]="nombre" name="nombre" id="nombre" autocomplete="off" placeholder="Nombre del Producto" required>
                  <label for="cod">Código del Producto</label>
                  <input type="text" [(ngModel)]="cod" name="cod" id="cod" autocomplete="off" placeholder="Código del Producto" required>
                  <label for="desc">Descripción del Producto</label>
                  <input type="text" [(ngModel)]="desc" name="desc" id="desc" autocomplete="off" placeholder="Descripción" required>
                  <label for="cat">Categoría</label>
                  <select [(ngModel)]="cat" name="cat" id="cat">
                    <option *ngFor="let cat of categorias" [value]="cat.id">{{cat.nombre}}</option>
                  </select>
                  <label for="pic">Imagen</label>
                  <input type="file" (change)="onChangePic($event)" [(ngModel)]="pic" name="pic" id="pic" autocomplete="off" required>
                  <img src="{{picc}}">
                  <input type="submit" value="Ingresar" id="send" name="send">
                  <ng-flash-message></ng-flash-message>
                </div>
              </form>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </ng-template>
</div>